<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flash Tour</title>
    {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {% endblock %}


    {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {% endblock %}
    <style>
        html {
            scroll-behavior: smooth;
        }

        .welcome-container {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .welcome-container span {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            color: blue;
            min-width: 150;
            background-color: hsla(208, 100%, 68%, 0.3);
            top: calc(50% - 50px);
            transition: all .2s ease-in;
            font-size: 30px;
            padding: 10px;
            font-weight: bold;

        }

        .welcome-container span:hover {
            border: #5ab2ff solid 5px;
            color: #fff;
            background-color: #a065f3;

        }

        .store {
            width: 150px;
            height: auto;
        }
    </style>
</head>

<body>
    <header>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top mask-custom shadow-0">
            <div class="container">
                <a class="navbar-brand" href="#!">
                    <span style="color: #a065f3;">Flash</span><span style="color: #5ab2ff;">Tour</span>
                </a>
                <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                    data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#about">About Solution</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#!">Flash tour</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#!">Flash tour pro</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#!">Team</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Navbar -->

        <!--Section: Design Block-->
        <section>
            <!-- Intro -->
            <div id="intro" class="bg-image"
                style="background-image: url('/static/undraw_doll_play_evbw.svg'); height: 75vh">
                <div class="mask" style="background-color: hsla(265, 86%, 67%, 0.2);"></div>
                <div class="welcome-container">
                    <span>
                        Welcome to Flash Tour
                    </span>
                </div>
            </div>
            <!-- Intro -->


        </section>
        <!--Section: Design Block-->
    </header>
    <section>
        <div id="about" class="container mt-2 mb-2">
            <div class="card">
                <div class="row">
                    <div class="col-md-4">
                        <img src="/static/undraw_solution_mindset_re_57bf.svg" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">About Flash tour</h5>
                            <p class="card-text">
                                This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="card  mt-2 mb-2">
                <div class="card-body">
                    <h5 class="card-title">
                        <span style="color: #a065f3;">Flash</span><span style="color: #5ab2ff;">Tour</span> for
                        parent
                    </h5>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti eos fuga, ipsam adipisci
                        similique alias sunt repellendus labore excepturi optio magni autem quo odio officia ad
                        animi sapiente laudantium natus saepe atque quaerat suscipit rerum. Quaerat dolores esse
                        odio, enim officia.

                    </p>
                    <a href="https://play.google.com/store/apps/details?id=com.umoyatech.garden&hl=fr&gl=US">
                        <img class="store" src="/static/353328.svg" alt="" srcset="">
                    </a>

                </div>
            </div>
            <div class="card  mt-2 mb-2">
                <div class="card-body">
                    <h5 class="card-title">
                        <span style="color: #a065f3;">Flash</span><span style="color: #5ab2ff;">Tour</span> for
                        nursery
                    </h5>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti eos fuga, ipsam adipisci
                        similique alias sunt repellendus labore excepturi optio magni autem quo odio officia ad
                        animi sapiente laudantium natus saepe atque quaerat suscipit rerum. Quaerat dolores esse
                        odio, enim officia.

                    </p>
                    <a href="https://play.google.com/store/apps/details?id=com.umoyatech.gradenpro&hl=fr&gl=US">
                        <img class="store" src="/static/353328.svg" alt="" srcset="">
                    </a>

                </div>
            </div>
        </div>
    </section>
    <section draggable="false" class="container pt-5" data-v-271253ee="">
        <section class="mb-10 text-center">
            <style>
                hr.divider-vertical {
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 1px;
                    background-image: linear-gradient(180deg, transparent, hsl(0, 0%, 40%), transparent);
                    background-color: transparent;
                    height: 100%;
                }
            </style> <!-- Background image -->
            <div class="p-5 bg-image"
                style="background-image: url(&quot;https://images.unsplash.com/photo-1487300001871-12053913095d?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=Mnw5NjI0M3wwfDF8c2VhcmNofDEwfHxzbGVlcHxlbnwwfHx8fDE2NDU2MDcwNDg&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=1080&quot;); height: 300px; background-size: cover; background-position: 50% 50%;"
                data-builder-edit="background" data-builder-name="background1" aria-controls="#picker-editor"></div>
            <!-- Background image -->
            <div class="card mx-4 mx-md-5 shadow-5-strong"
                style=" margin-top: -100px; background: hsla(0, 0%, 100%, 0.8); backdrop-filter: blur(30px); ">
                <div class="card-body py-5 px-md-5">
                    <div class="row mb-5">
                        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0 position-relative"> <i
                                class="fas fa-globe-americas fa-3x text-primary mb-4" data-builder-edit="icon"
                                data-builder-name="icon1" aria-controls="#picker-editor"></i>
                            <h6 class="fw-normal mb-0" data-builder-edit="text" data-builder-name="text1"
                                contenteditable="true">Unites States</h6>
                            <hr class="divider-vertical d-none d-lg-block">
                        </div>
                        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0 position-relative"> <i
                                class="fas fa-map-marker-alt fa-3x text-primary mb-4" data-builder-edit="icon"
                                data-builder-name="icon2" aria-controls="#picker-editor"></i>
                            <h6 class="fw-normal mb-0" data-builder-edit="text" data-builder-name="text2"
                                contenteditable="true">New York, 94126</h6>
                            <hr class="divider-vertical d-none d-lg-block">
                        </div>
                        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0 position-relative"> <i
                                class="fas fa-phone fa-3x text-primary mb-4" data-builder-edit="icon"
                                data-builder-name="icon3" aria-controls="#picker-editor"></i>
                            <h6 class="fw-normal mb-0" data-builder-edit="text" data-builder-name="text3"
                                contenteditable="true">+ 01 234 567 89</h6>
                            <hr class="divider-vertical d-none d-lg-block">
                        </div>
                        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0 position-relative"> <i
                                class="fas fa-hand-holding-usd fa-3x text-primary mb-4" data-builder-edit="icon"
                                data-builder-name="icon4" aria-controls="#picker-editor"></i>
                            <h6 class="fw-normal mb-0" data-builder-edit="text" data-builder-name="text4"
                                contenteditable="true">Tax ID: 273 384</h6>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-6">
                            <form>
                                <!-- Name input -->
                                <div class="form-outline mb-4"> <input type="text" id="form4Example1"
                                        class="form-control"> <label class="form-label" for="form4Example1"
                                        data-builder-edit="text" data-builder-name="text5" style="margin-left: 0px;"
                                        contenteditable="true">Name</label>
                                    <div class="form-notch">
                                        <div class="form-notch-leading" style="width: 9px;"></div>
                                        <div class="form-notch-middle" style="width: 42.4px;"></div>
                                        <div class="form-notch-trailing"></div>
                                    </div>
                                </div> <!-- Email input -->
                                <div class="form-outline mb-4"> <input type="email" id="form4Example2"
                                        class="form-control"> <label class="form-label" for="form4Example2"
                                        data-builder-edit="text" data-builder-name="text6" style="margin-left: 0px;"
                                        contenteditable="true">Email address</label>
                                    <div class="form-notch">
                                        <div class="form-notch-leading" style="width: 9px;"></div>
                                        <div class="form-notch-middle" style="width: 88.8px;"></div>
                                        <div class="form-notch-trailing"></div>
                                    </div>
                                </div> <!-- Message input -->
                                <div class="form-outline mb-4"> <textarea class="form-control" id="form4Example3"
                                        rows="4"></textarea> <label class="form-label" for="form4Example3"
                                        data-builder-edit="text" data-builder-name="text7" style="margin-left: 0px;"
                                        contenteditable="true">Message</label>
                                    <div class="form-notch">
                                        <div class="form-notch-leading" style="width: 9px;"></div>
                                        <div class="form-notch-middle" style="width: 60px;"></div>
                                        <div class="form-notch-trailing"></div>
                                    </div>
                                </div>
                                <!-- Submit button -->
                                <button type="submit" class="btn  btn-primary btn-block" data-builder-edit="button"
                                    data-builder-name="button1" aria-controls="#picker-editor">Send</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</body>

</html>