@keyframes pulse {
    from {
        border-width: 1px;
    }
    to{
       box-shadow: #ff0000 0px 0px 20px;
    }
    to{
        border-width: 3px;
        box-shadow: #ff0000 0px 0px 20px;
     }
    to { 
        border-width: 1px;
        box-shadow: #ff0000 0px 0px 10px;
    }
  }
.pulse {
    animation: pulse 2s infinite linear;
}

.comming-img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    position: absolute;
}
.comming-wave{
    width: 100%;
    height: 100%;
    position: absolute;
}
.comming-body{
    padding: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px;
}

.color{
    color:#f0e438
}