{% extends "super.html.twig" %}

{% block body %}
<div class="grid-margin stretch-card">
    <div class="card">
        <div class="card-header">
            Change information
        </div>
        <div class="card-body">
            {{form(form)}}
        </div>
    </div>
</div>

<div class="grid-margin stretch-card">
    <div class="card">
        <div class="card-header">
            {% trans %}Change Password{% endtrans %}
        </div>
        <div class="card-body">
            {{ form_start(passform) }}
            {{ form_widget(passform) }}
            <button type="submit" class="btn btn-gradient-primary">{% trans %}Change password{% endtrans %}</button>
            {{ form_end(passform) }}
        </div>
    </div>
</div>
{% endblock %}