{% extends 'base.html.twig' %}

{% block title %}Hello GardienneController!{% endblock %}

{% block stylesheets %}
{{ encore_entry_link_tags('garden') }}
{% endblock %}


{% block javascripts %}
{{ encore_entry_script_tags('garden') }}
{% endblock %}
{% block body %}
<div id="garden"></div>
{% endblock %}
