{% extends 'gard.html.twig' %}

{% block title %} {% trans %}Hello{% endtrans %} {{ app.user }}{% endblock %}

{% block stylesheets %}
{{ encore_entry_link_tags('garden') }}
{% endblock %}


{% block javascripts %}
{{ encore_entry_script_tags('garden') }}
{% endblock %}
{% block body %}
<div class="mt-2" id="garden_way"></div>
{% endblock %}